.App {
    text-align: center;
    margin:100px auto;
    width:100%;
    
}

.UnClickBtn {
    cursor:pointer;
    margin: auto;
}

.demoBtn{
    margin:20px auto;
    display:block;
    padding:10px;
    cursor:pointer;
    background-color:pink;
}
